# FOLDERS ######################################################################

.vscode
node_modules
ignore

# FILES ########################################################################

main.js
*.map
data.json
.DS_Store
